root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_size = 2
ij_json_space_after_colon = true

[*.js]
ij_javascript_chained_call_dot_on_new_line = true
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_force_semicolon_style = false
ij_javascript_import_merge_members = true
ij_javascript_import_sort_members = true
ij_javascript_import_sort_module_name = true
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_brackets = true
ij_javascript_spaces_within_parentheses = true


[*.{mts,ts,vue}]
ij_typescript_chained_call_dot_on_new_line = true
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_force_semicolon_style = false
ij_typescript_import_merge_members = true
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_brackets = true
ij_typescript_spaces_within_parentheses = true
